body 
{
    color:blue; 
    text-align: center;
    font-family: fantasy;

}

#container
{
width: 70%;
text-align: left;
padding: 1 em;
border: 1 px solid #000;
margin: 0 auto;


}

#container h1 {

font-size: 20 px;
color: darkred;

}